<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Todos</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="https://dl.dropbox.com/s/fdeksbynzqio5az/style.css?dl=0">
</head>

<body>
  <h1>Stuff I need to do.</h1>
  <form action="/todos" method="post">
    <input type="text" name="description"> <!-- RPS -->
    <input type="text" name="nome"> <!-- Nome -->
    <input type="email" name="email"> <!-- Email -->
    <button class="mini ui button" type="submit">Add</button>
  </form>

  <ul>
    {{#todos}}
    <li>
      <form action="/todos/{{_id}}/completed" method="post">
        RPS: {{description}} Nome: {{nome}} Email: {{email}} - {{done}}
        <button class="mini ui button" type="submit">Done</button>
      </form>
    </li>
    {{/todos}}
  </ul>

  <h3>Done</h3>
  <ul>
    {{#doneTodos}}
      <li>
        <form action="/todos/{{_id}}/completed" method="post">
          {{description}} - {{done}}
          <button class="mini ui button" type="submit">Oops!</button>
        </form>
      </li>
    {{/doneTodos}}
  </ul>
</body>

</html>